# Python/Conda
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.env
env/
venv/
*.egg-info/

# Project Artifacts
checkpoints/
videos/
wandb/
*.mp4
*.gif
*.png
*.jpg
*.log

# IDEs
.vscode/
.idea/
*.swp
